.trends{
    padding: 2rem;
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--trend-bg);
    border-radius: 7px;
    margin-bottom: 2rem;
}

.trhead{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1.2rem;
}

.trtitle{
    font-size: .95rem;
}

.ttopic{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}

.tropt{
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: var(--search-bg);
    text-align: center;
    align-items: center;
    padding: 0.2rem;
}

hr{
    border: none;
    height: 2px;
    border-radius: 7px;
    background-color: var(--hr-bg);
    margin-bottom: 1.5rem;
}

.trname{
    font-weight: 500;
}

.trcount{
    opacity: .7;
    font-size: .9rem;
}

.trshowmore{
    width: 100%;
    background-color: #106dfd;
    height: 2.4rem;
    text-align: center;
    align-items: center;
    font-size: .9rem;
    font-family: inherit;
    border: none;
    border-radius: 7px;
    color: #fff;
    margin-top: .7rem;
    cursor: pointer;
    font-weight: 500;
}

.ellipsis{
    color: var(--font-color-faded);
}