.main{
    background-color: var(--home-bg);
    color: var(--font-color);
    height: 100vh;
    text-align: center;
    padding-top: 6.9rem;
}

.BsCh{
    display: flex;
    flex-wrap: wrap;
    max-width: 67%;
    height: auto;
    padding: 1rem;
    margin-left: auto;
    padding-top: 2rem;
    margin-top: -2rem;
    height: 100%;
    margin-right: auto;
}

.chcrd{
    width: 10rem;
    height: 10rem;
    border-radius: 7px;
    background-color: var(--header-bg);
    margin-right: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    cursor: pointer;
}

.chcrd:hover{
    scale: 1.1;
    transition: .2s ease-in-out;
}

.pso{
    font-weight: bolder;
}

.nmstr{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    max-width: 77%;
    margin-left: auto;
    margin-right: auto;
}

.cntu{
    width: 30%;
}

.attchctr{
    width: 37%;
}

.pinfctr{
    width: 100%;
    resize: none;
    height: 12rem;
    margin-bottom: 1.3rem;
    border-radius: 7px;
    border: none;
    background-color: var(--header-bg);
    padding: 1.2rem;
    color: var(--font-color);
    font-family: 'Manrope', sans-serif;
}

.inolr{
    height: 2.6rem;
    padding: .5rem;
    padding-left: 1rem;
    border: none;    
    background-color: var(--search-bg);
    margin-bottom: 2rem;
    color: var(--font-color);
    font-family: 'Manrope', sans-serif;
    border-radius: 7px;
    width: 30%;
}

.inolr::placeholder{
font-family: inherit;
font-size: .8rem;
font-weight: 600;
}

.copyf{
        margin-top: 1.4rem;
        width: 20%;
}

.pinfctr{
    width: 65%;
}

.subscribing{
    font-size: 2rem;
}

.subcribechoid{
    width: 35%;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    justify-content: space-between;
}

.connectBtn.yesd{
    width: 45%;
}

.connectBtn.no{
    width: 45%;
    background-color: var(--header-bg);
    color: var(--font-color);
    font-weight: bolder;
    font-size: 1.05rem
}

.nope{
    font-size: 2rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.txtad{
    height: 60vh;
}

.psft{
    width: 60%;
}

.ccntrinfo{
    height: auto;
    background-color: var(--header-bg);
    border-radius: 7px;
    padding: 1rem;
    font-family: 'Manrope' sans-serif;
    width: 50%;
    margin: auto
}

.pstinf,
.cntrdep{
    margin-bottom: 1rem;
}


.choosesubscr {
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

.conchis{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.cuyt,
.stpoyt{
    width: 45%;
}

@media screen and (max-width: 480px) {
    .BsCh{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .chcrd{
        width: 69%;
        height: 11rem;
    }

    .main{
        padding: 2rem;
        height: 100vh;
        text-align: left;
    }

    .main.ghy{
        height:100%;
    }

    .nmstr{
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }


    .ccntrinfo{
        widtg: 100%;
    }

    .inolr{
            width: 100%;
            height: 2.6rem;
            padding: .5rem;
            padding-left: 1rem;
            border: none;    
            background-color: var(--search-bg);
            margin-bottom: 2rem;
            margin-right: 1rem;
            color: var(--font-color);
            font-family: 'Manrope', sans-serif;
            border-radius: 7px;
        
    }

    .inolr::placeholder{
        font-family: inherit;
        font-size: .8rem;
        font-weight: 600;
    }

    .pinfctr{
        width: 100%;
        resize: none;
        height: 12rem;
        margin-bottom: 1.3rem;
        border-radius: 7px;
        border: none;
        background-color: var(--header-bg);
        padding: 1.2rem;
        color: var(--font-color);
        font-family: 'Manrope', sans-serif;
    }

    .cntu,
    .attchctr,
    .copyf{
        width: 100%;
    }

    .subcribechoid{
        width: 90%;
        
    }

    .psft{
        width: 27%;
    }

    .nope{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 10rem;
    }

    .txtad{
        height: 70vh;
    }

  
    .choosesubscr.nmstr.subscribing {
        max-width: 100%;
        font-size: 1.75rem;
    }

    .nmstr{
        max-width: 100%;
    }
}