.write-container{
    width: 41rem;
    height: auto;
    border-radius: 10px;
    background-color: var(--write-bg);
    padding: 2.2rem;
}

.write-choose{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.tweet{
    width: 5.4rem;
    background-color: #106dfd;
    height: 2.5rem;
    text-align: center;
    align-items: center;
    font-size: .9rem;
    font-family: inherit;
    border: none;
    border-radius: 7px;
    color: #fff;
    margin-top: .7rem;
    cursor: pointer;
    font-weight: 500;
}

.writechoic{
    display: flex;
    justify-content: space-between;
}

.leftchoic{
    display: flex;
    text-align: center;
    align-items: center;
}

.whatonym{
    margin-left: 2rem;
    opacity: .7;
}

.pen{
    color: #176af0;
    margin-right: .5rem;
}

.photo{
    color: #f4bd0b;
    margin-right: .5rem;
}

.wchoosen{
    display: flex;
}