.whotf{
    padding: 2rem;
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--trend-bg);
    border-radius: 7px;
}

.tropti{
    border-radius: 1px;
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--search-bg);
    text-align: center;
    align-items: center;
    padding: 0.2rem;
}

.whohu{
    margin-left: -1rem;
}
